img {
    width: 200px;
    border: 1px solid #e0e0e0;
}

h1 {
  font-size: 24px;
  border-bottom: 3px solid #ff0000; 
  padding-bottom: 8px;
  margin-bottom: 30px;
}

li {
  margin-bottom: 40px; 
}